In [41]:
#Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

#Loading dataset
ds = load_dataset('lukebarousse/data_jobs')
df = ds['train'].to_pandas()

# Changing job_posted_date to date time format
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [ ]:
df.sample(10, random_state= 32)

In [43]:
df_original = df.copy()
df_alter = df_original.copy()

In [44]:
print('ID of df_original:       ', id(df_original))
print('ID of df_alter:          ', id(df_alter))
print('Are the two df ID the same?', id(df_alter) == id(df_original))

ID of df_original:        1883757499680
ID of df_alter:           1883757575584
Are the two df ID the same? False

In [45]:
df_alter.loc[:5, 'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [46]:
median_salary = df_alter['salary_year_avg'].median()
median_salary

115000.0

In [47]:
df_alter['salary_year_avg'] = df_alter['salary_year_avg'].fillna(median_salary)
df_alter.loc[:5, 'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [48]:
df_original.loc[:5, 'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64