In [73]:
#Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

#Loading dataset
ds = load_dataset('lukebarousse/data_jobs')
df = ds['train'].to_pandas()

# Changing job_posted_date to date time format
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [74]:
df_usa = df[df['job_country'] == 'United States']

In [75]:
df_usa['job_posted_date'] = df_usa['job_posted_date'].dt.strftime('%B')

C:\Users\jakey\AppData\Local\Temp\ipykernel_4516\1671921119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_usa['job_posted_date'] = df_usa['job_posted_date'].dt.strftime('%B')

In [ ]:
df_usa_pivot = df_usa.pivot_table(
    index = 'job_posted_date',
    columns= 'job_title_short',
    aggfunc= 'size'
)
df_usa_pivot

In [ ]:
df_usa_pivot.reset_index(inplace= True)
df_usa_pivot['Month_number'] = pd.to_datetime(df_usa_pivot['job_posted_date'], format= '%B').dt.month

df_usa_pivot.sort_values('Month_number', inplace= True)
df_usa_pivot.set_index('job_posted_date', inplace= True)
df_usa_pivot.drop(columns='Month_number', inplace= True)
df_usa_pivot

In [78]:
df_usa_software_pivot = pd.read_csv("https://lukeb.co/software_csv", index_col= 'job_posted_month')
df_usa_software_pivot

,Front-End Developer,Back-End Developer,Full-Stack Developer,UI/UX Designer
job_posted_month,,,,
January,13619,9827,5108,4348
February,11456,9116,7298,4284
March,11102,8178,5814,4159
April,14037,9209,7232,4220
May,12126,8864,6718,4980
June,12003,8065,5902,4781
July,11914,8061,6839,4344
August,11571,8191,7413,4104
September,14016,8447,6139,4094
October,11419,8476,5026,4389
November,13771,9034,5653,4099
December,14033,9232,6731,4367

In [ ]:
df_usa_pivot.merge(df_usa_software_pivot, on="job_posted_month")